
.navber-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2) !important;
    padding: 1rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}
.nav .menu-link{
    font-size: 1.2rem;
    margin: 0 1rem;
    cursor: pointer;
    color: #666;
}
.icons div{
    font-size: 2rem;
    cursor: pointer;
    margin-left: 2rem;
    color: #666;
    
}
.icon{
    font-size: 2rem;
    font-weight: bold;
    
}
.icon:hover{
    color: black;
    background: rgba(245, 245, 245, 0.5);
    border-radius: 50%;
    padding: .1rem;
    font-size: 2rem;
    
}

.menu1{
    display: none;
}
.search-form{
    position: absolute;
    top: -90px;
    right: 2rem;
    width: 50rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    height: 3rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .1);
    background: #fff;
}
.search-form.active{
    top: 80px;
}
.search-form input{
    width: 100%;
    height: 100%;
    padding: 0 1.2rem;
    color: black;
    text-transform: none;
}
.search-form input[placeholder]{
     font-size: 1.7rem;
}
.search-form label{
    font-size: 2.5rem;
    margin-right: 1.7rem;
    cursor: pointer;
    color: #666;

}


@media (max-width:960px){
    html{
        font-size: 60%;
    }
}


@media (max-width:768px){
    .menu1{
        display:  inline-block;
    }
    .search-form{
        width: 100%;
        right: 0;
        border-radius: 0;
        padding: .3rem;
    }
    .search-form.active{
        top: 99%;
        border-top: .1rem solid rgba(0,0,0, .1);
        border-bottom: .1rem solid rgba(0,0,0, .1);
    }

    .navber-container .nav{
        position: absolute;
        top: 99%;
        left:0;
        right: 0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0, .1);
        border-bottom:.1rem solid rgba(0,0,0, .1);
        clip-path:polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .navber-container .nav.active{
         clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    .nav .menu-link{
        margin: 1.5rem;
        padding: 1rem;
        background: #e0dbdb;
        font-size: 1rem ;
        display: block;
        border-radius: .5rem;
    }
}